.info-Morfeo {
    margin: 10rem auto 5rem auto;
    padding: 3rem 5%;
    font-size: 1.5rem;
    line-height: 2rem;
    /*Los bloques se apilan*/
}

/*SECCION DE BIEVENIDA*/
.intro {
    padding: 3rem 0;
    overflow: hidden; 
}

.intro .imagen {
    float: left; 
    margin-right: 40px;
    margin-bottom: 20px;
    width: 50%;
    max-width: 700px;
}

.intro .imagen img {
    display: block;
    width: 100%;
    height: auto;
}

.intro h1 {
    font-size: 5rem;
    font-family: "Cormorant Garamond";
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 1.5rem;
}

.intro p {
    font-size: 2rem;
    line-height: 1.8;
    margin-bottom: 15px;
}

/*SECCION DE DESCRIPCIÓN*/

.desc {
    margin: 30px 0;
    padding: 2rem;
    text-align: center;
}

.desc h1 {
    font-style: italic;
    font-size: 3.6rem; 
    color: var(--texto);
    font-family: "Cormorant Garamond";
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.desc p {
    font-size: 2rem;
    line-height: 1.8;
    max-width: 1000px;
    margin: 0 auto;
}

/*SECCION DE LA SUCURSAL*/

.sucursal {
    margin: 50px 0;
    padding: 3rem 0;
    overflow: hidden; 
}


.sucursal .imagen {
    float: right; 
    margin-left: 40px;
    margin-bottom: 20px;
    width: 50%;
    max-width: 600px;
}

.sucursal .imagen img {
    display: block;
    width: 100%;
    height: auto;
}

.sucursal h1 {
    font-size: 4rem;
    font-family: "Cormorant Garamond";
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 1.5rem;
}

.sucursal p {
    font-size: 2rem;
    line-height: 1.8;
    margin-bottom: 15px;
}

.fechas {
    clear: both;
}

.fechas .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    padding: 5rem;
    margin: 2rem auto;
}

.fechas .box-container h1{
    font-size: 6rem;
    font-weight: bold;
    color: var(--texto);
    padding: 1.5rem;
}

.fechas .box-container .primera,
.segunda{
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 0 0 320px; 
    gap: 15px;
    align-items: center;
    text-align: center;
    transition: .4s; /*Hace que el movimiento sea más smooth*/
    background-color: var(--bg-card);
    border-radius: 5%;
}

.fechas .box-container .primera:hover,
.segunda:hover{
    transform: scale(1.05);
    transition: .4s; /*Hace que el movimiento sea más smooth*/
    box-shadow: 0 8px 20px var(--shadow);
}

.fechas .box-container .primera p,
.segunda p{
    font-size: 1.8rem;
    line-height: 1.5;
}

.fechas .box-container .primera h2,
.segunda h2{
    font-weight: 700;
    padding: 1.5rem;
}

/*MEDIA QUERY*/

@media (max-width:1670px){

    .intro .imagen img {
        width: 100%;
        height: auto;
    }

    .intro{
        line-height: 1;
    }

    .intro h1,
    .intro p {
        max-width: 100%; 
    }

    .intro h1{
        font-size: 4rem; 
    }

    .desc{
        line-height: 1;
    }

    .sucursal{
        line-height: 1;
    }
}


@media (max-width:991px) {
    html{
        font-size: 55%;
    }

    .fechas .box-container{
        gap: 30px;
        padding: 0;
    }
}


@media (max-width: 680px) and (min-width: 451px) {
    
    html{
        font-size: 50%;
    }

}
