*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    font-family: "Monserrat";
    transition: .2s smooth;
    color: var(--texto-principal);
}

:root{
    --bg-body: #F7F7F7;
    --bg-banner: #c0a0ff;
    --bg-hero: rgba(247, 247, 247, 0.7);
    --texto-principal: #2C2C2C;
    --texto-hover: #F2E6D8;
    --texto-btn: #2C2C2C;
    --texto: #685A73;
    --texto-over-img:#2C2C2C;
	--nav-btn: #A7C7E7;
    --footer: #A7C7E7;
    --bg-card: #F0E2F7;
    --borde-card: #C6B5E9;
    --borde-btn: #685A73;
    --borde-negro: #2C2C2C;
    --lila: #C6B5E9;
    --celeste: #A7C7E7;
    --shadow: rgba(0, 0, 0, 0.2);
}

/*COLORES DEL MODO OSCURO*/

.dark-mode {
    --bg-body: #131324;
    --bg-banner: #8A63D2;
    --bg-hero: rgba(54, 54, 83, 0.9);
    --bg-card: #271c2f;
    --nav-btn: #2A2A3D;
    --footer: #1A1A26;
    --texto-principal: #F2E6D8;
    --texto-hover: #c0a0ff;
    --texto-btn: #F2E6D8;
    --texto: #B4A7C5;
    --texto-over-img: #2C2C2C;
    --borde-card: #423D57;
    --borde-btn: #C6B5E9;
    --borde-negro: #F2E6D8;
    --lila: #A55DA6;
    --celeste: #265388;
    --shadow: rgba(255, 255, 255, 0.3); 
}

/*TECLADO*/
:focus-visible {
    outline: 3px solid var(--borde-btn);
    outline-offset: 3px;
}

/*CONTENIDO*/

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

body{
    /*min-height: 100vh;*/
    background-color: var(--bg-body);
}

img{
    max-width: 100%;
    height: auto;
    display: block; /*Para eliminar espacios extra*/
}

section{
    padding: 1rem;
}

header{
    background-color: var(--bg-body);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 999; /*Fuerza a que se coloque en una capa diferente*/
    box-shadow: 0.5rem 0.2rem --shadow;
}

/*BANNER DE PROMOCIÓN*/

header .banner{
    background-color: var(--bg-banner);
}

header .banner a {
    display: block; /*Hace que el link ocupe todo el ancho (como un div)*/
    padding: 0.3rem;
    text-align: center;
    color: var(--texto-principal);
    font-size: 1.7rem;
    font-weight: 1000;
    font-family: "Cormorant Garamond";
    text-decoration: none;
}

header .banner:hover{
    background-color: var(--celeste);
    color: var(--texto-hover);
}

header .header-up{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1rem;
    justify-content: space-evenly;
    padding: 1rem;
}

header .header-up .logo{
    margin-right: auto;
    transition: .4s; /*Movimiento smooth para cuando se sale el cursor de encima*/
    margin-left: 1.5rem;
}

header .header-up .logo img:hover{
    border: solid var(--borde-btn) 0.2rem;
    border-radius: 50%;
    padding: 0.2rem;
    transition: .4s; /*Movimiento smooth para cuando está el cursor encima*/
}

header .header-up img{
    height: 35px; width: 35px;
}

/*BOTON DE CUENTA y MODO OSCURO*/

header .header-up .icons{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

header .header-up .icons button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

header .header-up .icons img:hover, 
.icons img:active
{
    border: solid var(--borde-btn) 0.2rem;
    border-radius: 50%;
    padding: 0.2rem;
    transition: .4s; /*Movimiento smooth para cuando está el cursor encima*/
}

/*BOTONES DE NAVEGACIÓN*/

header .navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

header .navbar a{
    color: var(--texto);
    background-color: var(--celeste);
    padding: 0 2em;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-left: 1rem;
}

header .navbar a:hover{
    background-color: var(--lila);
    border: solid var(--borde-btn) 0.2rem;
    color: var(--texto-hover);
}

/*MENÚ HAMBURGUESA*/

#burger-btn {
    font-size: 3rem;
    color: var(--texto);
    cursor: pointer;
    display: none;
}


/*SECCION DE ICONO DE WHATSAPP*/
.whatsapp-flotante {
    position: fixed; 
    bottom: 20px;
    right: 20px;
    z-index: 1000; 
    
    /*Para que se vea como un círculo*/
    width: 60px; 
    height: 60px;
    padding: 0;
    
    border-radius: 50%; /*Para que sea un círculo perfecto*/
    
    /*Centra el ícono dentro del botón*/
    display: flex; 
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 12px var(--shadow);
    text-decoration: none;
    background-color: var(--bg-body);
}

.whatsapp-bubble {
    width: 42px; 
    height: 44px;
}

.whatsapp-flotante:hover {
    background-color: var(--lila);
    transform: scale(1.1); 
}


/*FOOTER*/

footer{
    background-color: var(--footer);
}

footer .menu-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 50rem;
    padding: 3rem;
    justify-items: center;
    font-size: 1.8rem;
}

footer .title-footer{
    font-weight: 600;
    font-size: 1.9rem;
    text-transform: uppercase;
}

footer .newsletter, 
.info, 
.otra-info, 
.contacto-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer .info, 
.otra-info, 
.contacto-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: 3rem;
}

footer .info ul li, 
.otra-info ul li{
    list-style: none;
    font-weight: 300;
}

footer .info ul li a:hover, 
.otra-info ul li a:hover{
    color: var(--texto-hover);
    text-decoration: underline;
}

footer .suscripcion .newsletter{
    padding-top: 1.5rem;
}

footer .suscripcion .box{
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid var(--borde-negro);
}

footer .btn{
    background-color: rgba(0, 0, 0, 0);
    border: .1rem solid var(--borde-negro);
    margin-left: 1rem;
    padding: 0.5rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    text-align: center;
    cursor: pointer;
    font-size: 1.8rem;
}

footer .btn:hover{
    background-color: var(--lila);
    color: var(--texto-hover);
    border: .1rem solid var(--borde-btn);
}

footer .iconos-footer{
    justify-content: space-between;
}

footer .logoyredes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-left: 3rem;
}

footer .iconos-footer .logoyredes .redes{
    display: flex;
    gap: 1.5rem;
    margin-top: 0.5rem; 
    margin-bottom: 1rem;
}

footer .iconos-footer .logoyredes .redes img{
    height: 25px; 
    width: 25px;
}

footer .iconos-footer .logoyredes .redes img:hover{
    cursor: pointer;
}

footer .copyright{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right: 3rem;
    font-size: 1.4rem;
    font-style: italic;
    color: var(--texto);
}

/*MEDIA QUERY*/

@media (max-width:1400px){

    footer .menu-footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr) 30rem;
        gap: 3rem;
    }
    
    footer .suscripcion input{
        margin: 0.5rem;
    }

}

@media (max-width:991px) {
    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 2%;
    }

    /*PARA QUE SE AJUSTE Y SE PONGAN LOS BOTONES EN LOS EXTREMOS*/
    header .header-up {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: none; 
    }

    header .header-up form button{
        height: 2rem; 
        width: auto;
    }

    #burger-btn {
        display: block; /*Muestra el menú hamburguesa*/
    }
    
    /*PARA QUE SE ACOMODEN LOS ICONOS EN EL CENTRO*/
    header .header-up .icons {
        display: flex;
        align-items: center;
    }

    header .navbar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--bg-body);
        border-top: 1px solid #ccc;
        box-shadow: 0 0.5rem 1rem var(--shadow);
    }

    /*SE CONVIERTEN LOS BOTONES DE LAS PESTAÑAS EN COLUMNAS*/
    header .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    header .navbar a {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0.5rem 0;
        border: none;
    }

    header .navbar.active {
        display: flex; /*Abre el menú cuando se hace click*/
    }

    section{
        padding: 1rem;
    }

    .home{
        background-position: auto;
    }

    footer .suscripcion input{
        margin: 0.5rem;
    }
}

@media (max-width:768px) {
    
    header{
        padding: 1rem;
    }

    header .navbar ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
    }

    header .navbar a {
        margin-left: 0;
    }
}

@media (max-width: 680px) and (min-width: 451px) {
    
    header{
        padding: 0.8rem;
    }

    footer .menu-footer{
        grid-template-columns: 1fr;
        justify-items: left;
    }
}

@media (max-width:450px) and (min-width: 250px){

    header .header-up{
        grid-template-columns: auto 1fr auto;
        gap: 0.5rem;
    }

    header .header-up input{
        width: 100%;
        max-width: 200px;
    }

    header .navbar ul{
        flex-wrap: wrap;
        padding: 0 10px;
    }

    header .navbar a{
        padding: 0.5rem 1rem;
        font-size: 16px;
    }

    footer .menu-footer{
        grid-template-columns: 1fr;
        justify-items: left;
    }
}