.medios-contacto{
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.medios-contacto .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 3rem;
    align-items: stretch; /*Obliga a que todas las filas tengan la misma altura */
}

.medios-contacto .box-container .box{
    flex: 1 1 200px; 
    max-width: 300px; 
    height: 100%; /*Para que todos tengan la misma altura*/
    transition: .4s;
    background-color: #F0E2F7; 
    border: 2px solid #C6B5E9;
    padding: 30px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
}

.medios-contacto .box-container .box img{
    width: 5rem;
    height: 5rem;
}

.medios-contacto .box-container .box:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: .4s; /*Hace que el movimiento sea más smooth*/
    background-color: #C6B5E9; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.medios-contacto h1{
    font-family: "Cormorant Garamond";
    padding: 4rem;
    text-align: center;
    font-size: 5rem; 
}

.medios-contacto .box-container .box .content{
    font-size: 1.8rem;
    text-align: center;
    line-height: 3.5rem;
}

.medios-contacto .box-container .box .content h2{
    font-size: 2.3rem;
}
