/*CONTENIDO DE LA PÁGINA*/

.home{
    background-color: #F7F7F7;
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/Hero/Hero.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    background: rgba(247, 247, 247, 0.7);
    padding: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.home .content span{
    padding:  1rem 0;
    font-size: 3rem;
    line-height: 1.5;
    color: #6B5A73;
}

/*SECCION DE PRODUCTOS*/

.novedades .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    padding-bottom: 3rem;
}

.novedades .box-container .box{
    padding: 20px;
    box-sizing: border-box;
    flex: 1 1 calc(33% - 40px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border: 2px solid #C6B5E9;
    transition: .4s; /*Movimiento smooth para cuando se sale el cursor de encima*/
    background-color: #F0E2F7; 
}

.novedades .box-container .box:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: .4s; /*Hace que el movimiento sea más smooth*/
    background-color:rgba(240, 240, 240, 0.7);  
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.novedades h1{
    font-family: "Cormorant Garamond";
    padding: 4rem;
    text-align: center;
    font-size: 5rem; 
}

.novedades .box-container .box .content{
    font-size: 2rem;
    text-align: center;
}

/*SECCION DE PROMOS*/
.promos{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 3rem;
    overflow: hidden; 
}

.promos .box-container-link{
    display: block;
    max-width: 1050px;
    position: relative;
    cursor: pointer;
    transition: .4s; /*Movimiento smooth para cuando se sale el cursor de encima*/
}

.promos .box-container-link:hover{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: .4s; /*Hace que el movimiento sea más smooth*/
    border: 3px solid var(--borde-card);
}

.promos .promo img{
    width: 1050px;
    max-width: 100%; /*Para evitar que se haga más ancha que el contenedor*/
    height: auto;
    margin: 0 auto;
    cursor: pointer;
}

/*SECCION DE MEDIDAS*/

.medidas .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding-bottom: 3rem;
}

.medidas .box-container .box{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
    padding: 20px;
    box-sizing: border-box;
    flex: 1 1 calc(20% - 40px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    border: 2px solid #C6B5E9;
    border-radius: 5%;
    transition: .4s; /*Movimiento smooth para cuando se sale el cursor de encima*/
    background-color: #F0E2F7; 
}

.medidas h1{
    font-family: "Cormorant Garamond";
    padding: 4rem;
    text-align: center;
    font-size: 4rem; 
}

.medidas .box-container .box:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: .4s; /*Hace que el movimiento sea más smooth*/
    background-color:rgba(240, 240, 240, 0.7);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.medidas .box-container .box .content h2{
    color: #2C2C2C;
}

.medidas .box-container .box .content{
    font-size: 1.5rem;
    text-align: center;
}

/*SECCION DE SOBRE NOSOTROS*/

.nosotros-info {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 3rem;
    overflow: hidden; 
}

.nosotros-info .box-container-link{
    display: block;
    text-decoration: none;
    max-width: 1200px;
    position: relative;
    cursor: pointer;
    transition: .4s; /*Movimiento smooth para cuando se sale el cursor de encima*/
}

.nosotros-info .box-container-link:hover{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: .4s; /*Hace que el movimiento sea más smooth*/
    border: 3px solid #A7C7E7;
}

.nosotros-info .imagen{
    width: 100%;
    height: auto;
    display: block;
}

.nosotros-info .imagen img{
    width: 100%;
    height: auto;
    display: block;
    filter: opacity(85%);
}

.nosotros-info .descripcion-breve{
    position: absolute;
    bottom: 160px;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 20px 40px;
    text-align: right;
}

.nosotros-info h1 {
    font-size: 3.9rem;
    font-family: "Cormorant Garamond";
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 2;
}

.nosotros-info p {
    font-size: 2.2rem;
    line-height: 1.5;
    font-weight: 540;
    margin-left: auto;
    max-width: 500px;
}

/*SECCION DE BANCOS*/

.bancos .box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 8rem;
    gap: 100px;
}

.bancos .box-container .box{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0E2F7; 
    border-radius: 5%;
    border: 2px solid #C6B5E9;
}

.bancos h1{
    font-family: "Cormorant Garamond";
    padding: 4rem;
    text-align: center;
    font-size: 4rem;
}

.bancos .box-container .box .img{
    cursor: pointer;
    transition: .4s; /*Movimiento smooth para cuando se sale el cursor de encima*/
}

.bancos .box-container .box .img:hover{
    transform: scale(1.05);
    transition: .4s; /*Hace que el movimiento sea más smooth*/
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


/*MEDIA QUERY*/

@media (max-width:1280px) {
    
    .nosotros-info p{
        font-size: 2.5rem;
    }
    
    .nosotros-info .descripcion-breve{
        bottom: 70px;
    }

    .bancos .box-container{
        gap: 20px;
    }
}

@media (max-width:991px) {
    html{
        font-size: 55%;
    }

    section{
        padding: 1rem;
    }

    .home{
        background-position: auto;
    }

}

@media (max-width:800px) {
    
    .nosotros-info .descripcion-breve{
        bottom: 30px;
    }
}

@media (max-width:768px) {
    
    .home{
        min-height: 90vh;
    }

    .home .content{
        padding: 1.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin: 0.5 auto;
    }

    .home .content img{
        height: auto; width: auto;
    }

    .home .content span{
        padding: 0.5rem 0;
    }

    .nosotros-info .descripcion-breve{
        background: rgba(247, 247, 247, 0.4);
    }

}

@media (max-width: 680px) and (min-width: 451px) {

    .home{
        min-height: 85vh;
    }

    .home .content{
        padding: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: 0 auto;
    }

    .home .content img{
        height: auto; width: 400px;
    }

    .home .content span{
        padding: 0.5rem 0;
        font-size: 22px;
    }

    /*PARA QUE SE VEA BIEN LA SECCIÓN DE BANCOS*/

    .bancos .box-container {
        flex-direction: column;
        align-items: center;
        /*gap: none;*/
    }

    .bancos .box-container .box {
        width: 80%;
        max-width: 300px;
    }

    .bancos h1 {
        font-size: 2.5rem;
    }

    .nosotros-info .descripcion-breve{
        bottom: 20px;
    }

    .nosotros-info h1{
        font-size: 3rem;
    }

    .nosotros-info p{
        font-size: 2rem;
    }

}

@media (max-width:450px) and (min-width: 250px){

    .home{
        min-height: 80vh;
    }

    .home .content{
        padding: 1rem;
        width: 90%;
        margin: 0 auto;
    }

    .home .content img{
        height: auto; width: 250px;
    }

    .home .content span{
        padding: 0.5rem 0;
        font-size: 18px;
    }

    .novedades .box-container{
        width: 70%;
        margin-left: 50px; /*Para que se alineen todas en el centro*/
    }

    .bancos .box-container {
        flex-direction: column;
        align-items: center;
        /*gap: none;*/
    }

    .bancos .box-container .box {
        width: 70%;
        max-width: 300px;
    }
}