*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    font-family: "Monserrat";
    transition: .2s liner;
    color: #2C2C2C;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 1rem;
}

body{
    min-height: 100vh;
    background-color: #F7F7F7;
}

header{
    background-color: #F7F7F7;
    position: fixed;
    top: 0; left: 0; right: 0;
    padding: 1.5rem 2%;
    z-index: 999; /*Fuerza a que se coloque en una capa diferente*/
    box-shadow: 0.5rem 0.2rem rgba(0, 0, 0, .1);
}

header .header-up{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1rem;
    justify-content: space-evenly;
}

header .header-up .logo{
    margin-right: auto;
}

header .header-up img{
    height: 35px; width: 35px;
}

header .header-up .icons{
    margin-left: auto;
}

header .header-up .icons a{
    margin-left: 1.5 rem;
}

header .header-up .icons a:hover, .icons a:active{
    border-bottom: 0.5rem solid #C6B5E9;
}

header .header-up form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header .header-up form img{
    height: 1.40rem; width: auto;
}

header .header-up form button{
    border-right: .1rem solid #2C2C2C;
    border-top: .1rem solid #2C2C2C;
    border-bottom: .1rem solid #2C2C2C;
    cursor: pointer;
}

header .header-up input{
    border-top: .1rem solid #2C2C2C;
    border-bottom: .1rem solid #2C2C2C;
    border-left: .1rem solid #2C2C2C;
    background-color: #F7F7F7;
    font-family: inherit;
    width: 25rem; 
    height: 2rem;
    font-size: 15px;
}

header .navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar a{
    background-color: #A7C7E7;
    outline: 0.1rem solid #F7F7F7;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    font-size: 19px;
}

header .navbar a:hover{
    background-color: #C6B5E9;
    color: #F2E6D8;
}

/*HERO DE CATEGORIA*/

.hero-product{
    background: url(images/HeroAcolchados.png) no-repeat center center/cover; 
    height: 500px;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.hero-product h1{
    font-size: 8rem;
    font-family: "Cormorant Garamond";
    color: #2C2C2C;
    padding: 10px 20px;
    background-color: rgba(167, 199, 231, 1);
}

/*PRODUCTOS*/

.catalogo{
    display: block;
}

.catalogo .titulo{
    font-size: 2rem;
    font-weight: medium;
    padding: 1.5rem;
}

.catalogo .titulo span{
    font-weight: bold;
}

.catalogo .box-container{
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.catalogo .box-container .box{
    padding: 20px;
    box-sizing: border-box;
    flex: 1 1 calc(33% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogo .box-container .box .img img {
    width: 500px; height: auto;
    cursor: pointer;
    border: 1px solid #2C2C2C;
}

.catalogo .box-container .box .content {
    width: 500px; height: 80px;
    font-size: 1.6rem;
    text-align: center;
    border-left: 1px solid #2C2C2C;
    border-right: 1px solid #2C2C2C;
    border-bottom: 1px solid #2C2C2C;
    cursor: pointer;
}

.catalogo .box-container .box .content .precio{
    padding-top: 20px;
    font-weight: bold;
    color: #6B5A73; 
    margin-top: 5px;
}

/*FOOTER*/

footer{
    background-color: #A7C7E7;
}

footer .menu-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 50rem;
    /*gap: 3rem;*/
    padding: 3rem;
    justify-items: center;
    font-size: 1.5rem;
}

footer .title-footer{
    font-weight: 600;
    font-size: 1.7rem;
    text-transform: uppercase;
}

footer .newsletter, 
.info, 
.otra-info, 
.contacto-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer .info ul li, 
.otra-info ul li{
    list-style: none;
    font-weight: 300;
}

footer .info ul li a:hover, 
.otra-info ul li a:hover{
    color: #F2E6D8;
    text-decoration: underline;
}

footer .suscripcion .newsletter{
    padding-top: 1.5rem;
}

footer .suscripcion .box{
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #2C2C2C;
}

footer .btn{
    background-color: rgba(0, 0, 0, 0);
    border: .1rem solid #2C2C2C;
    margin-left: 1rem;
    padding: 0.5rem;;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    text-align: center;
    cursor: pointer;
    font-size: 1.7rem;
}

footer .btn:hover{
    background-color: #C6B5E9;
    color: #F2E6D8;
}

footer .iconos-footer{
    justify-content: space-between;
}

footer .logoyredes{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 1.5rem;
    padding-left: 3rem;
}

footer .iconos-footer .logoyredes .redes{
    padding-left: 6rem;
}

footer .iconos-footer .logoyredes .redes img{
    height: 20px; width: 20px;
}

footer .iconos-footer .logoyredes .redes img:hover{
    cursor: pointer;
}

footer .copyright{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right: 3rem;
    font-size: 1.4rem;
    font-style: italic;
    color: #6B5A73;
}

/*MEDIA QUERY*/

@media (max-width:1400px){
    
    footer .menu-footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr) 30rem;
        gap: 3rem;
    }
    
    footer .suscripcion input{
        margin: 0.5rem;
    }

}

@media (max-width:1300px) {
    html{
        font-size: 60%;
    }

    .hero-product{
        background-position: auto;
    }

    .catalogo .box-container .box .img img{
        width: 300px; height: auto;
        cursor: pointer;
        border: 1px solid #2C2C2C;
    }

    .catalogo .box-container .box .content{
        width: 300px; height: 80px;
    }

}

@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2%;
    }

    header .header-up form button{
        height: 2rem; width: auto;
    }

    section{
        padding: 1rem;
    }

    .home{
        background-position: auto;
    }

    footer .suscripcion input{
        margin: 0.5rem;
    }
}

@media (max-width:768px) {
    
    header{
        padding: 1rem;
    }

    .hero-product .content{
        padding: 1.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .hero-product .content img{
        width: auto;
    }

    .hero-product .content h1{
        padding: 0.5rem 0;
    }

    .catalogo .box-container .box .img img{
        width: 300px; height: auto;
        cursor: pointer;
        border: 1px solid #2C2C2C;
    }

    .catalogo .box-container .box .content{
        width: 300px; height: 80px;
    }
}

@media (max-width: 680px) and (min-width: 451px) {
    
    header{
        padding: 0.8rem;
    }

    .hero-product .content{
        padding: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .hero-product .content h1{
        padding: 0.5rem 0;
    }

    footer .menu-footer{
        grid-template-columns: 1fr;
        justify-items: left;
    }
}

@media (max-width:450px) and (min-width: 250px){

    header .header-up{
        grid-template-columns: auto 1fr auto;
        gap: 0.5rem;
    }

    header .header-up input{
        width: 100%;
        max-width: 200px;
    }

    header .navbar ul{
        flex-wrap: wrap;
        padding: 0 10px;
    }

    header .navbar a{
        padding: 0.5rem 1rem;
        font-size: 16px;
    }

    .hero-product .content{
        padding: 1rem;
    }

    .hero-product .content h1{
        padding: 0.5rem 0;
        font-size: 50px;
    }

    footer .menu-footer{
        grid-template-columns: 1fr;
        justify-items: left;
    }
}