.box-container{
    font-size: 1.8rem;
    line-height: 2.8rem;
    justify-content: center;
    align-items: center;
    margin-top: 14rem;
    margin-bottom: 5rem;
}

.whatsapp, .teléfono, .mail {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 2rem;
}

.titulo-con-icono {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.titulo-con-icono h2{
    margin-left: 10px; 
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Cormorant Garamond";
    font-size: 3.2rem;
    font-weight: bold;
}

.box-container span{
    font-weight: bold;
    font-size: 1.9rem;
}

.icon img{
    width: 50px;
    height: 50px;
}

/*MEDIA QUERY*/

@media (max-width:991px) {

    section{
        padding: 1rem;
    }

    .home{
        background-position: auto;
    }

}

@media (max-width:768px) {

    .home{
        min-height: 90vh;
    }

    .home .content{
        padding: 1.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin: 0.5 auto;
    }

    .home .content img{
        height: auto; width: auto;
    }

    .home .content span{
        padding: 0.5rem 0;
    }
}

@media (max-width: 680px) and (min-width: 451px) {
    .home{
        min-height: 85vh;
    }

    .home .content{
        padding: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: 0 auto;
    }

    .home .content img{
        height: auto; width: 400px;
    }

    .home .content span{
        padding: 0.5rem 0;
        font-size: 22px;
    }
}

@media (max-width:450px) and (min-width: 250px){

    .home{
        min-height: 80vh;
    }

    .home .content{
        padding: 1rem;
        width: 90%;
        margin: 0 auto;
    }

    .home .content img{
        height: auto; width: 250px;
    }

    .home .content span{
        padding: 0.5rem 0;
        font-size: 18px;
    }

}
