body{
    min-height: 110vh;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Para que este en el medio*/
    width: 100%; /*Que ocupe el máximo ancho*/
    height: 100%;
}

/*VIDEO DE PRESENTACIÓN*/

.video-tienda .side-video{ 
    position: relative;
    left: 0;
    top: 0; /*Para que no lo pise la barra de navegación*/
    width: 65%;
    height: 995px;
}

.container .logreg-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    overflow: hidden;
}

.logreg-box .form-box{ /*Contenido de la parte de ingresar y registrarse*/
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--bg-card);
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
}

/*Javascript*/
.logreg-box .form-box.login{
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: .5s;
}

.logreg-box.active .form-box.login{
    transform: translateX(100%);
    transition-delay: 0s;
}

.logreg-box .form-box.register{ /*Poner la sección de registrarse al lado de la de ingreso*/
    transform: translateX(100%);
    transition: transform .6s ease;
    transition-delay: 0s;
}

.logreg-box.active .form-box.register{
    transform: translateX(0);
    transition-delay: .5s;
}

/**/

.form-box h2{ /*Título*/
    font-size: 40px;
    text-align: center;
}

.form-box .input-box{ /*Contenedores de opciones*/
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid white; /*La linea blanca debajo de las opciones*/
    margin: 30px 0;
}

.input-box input{ /*Zona para escribir y texto dentro*/
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: var(--texto-principal);
    font-weight: 500;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease; /*Transición smooth entre título y barra para escribir*/
}

.input-box input:focus~label, 
.input-box input:valid~label{ /*Para que deje espacio para escribir debajo del título de la opción*/
    top: -5px;
}

.form-box .remember-forgot{
    font-size: 20px;
    font-weight: 500;
    margin: -15px 0 15px; /*Para que se acerce más a la linea blanca*/
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: var(--bg-body);
    margin-right: 3px;
}

.remember-forgot a{ /*Contraseña olvidada*/
    color: var(--texto-principal);
}

.remember-forgot a:hover{ /*Contraseña olvidada*/
    text-decoration: underline;
}

.btn-cuenta{ /*Botón de Ingresar*/
    width: 100%;
    height: 35px;
    background-color: var(--borde-negro);
    color: var(--bg-body);
    border: 0.1rem solid var(--shadow);
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px; /*Separación entre botón y texto de recordar y olvide*/
}

.btn-cuenta:hover{ /*Botón de Ingresar*/
    background-color: var(--celeste);
    border: solid var(--borde) 0.2rem;
}


.form-box .login-register{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.login-register p a{ /*Registrarse*/
    color: var(--texto-principal);
    font-weight: 600;
    text-decoration: none;
}

.login-register p a:hover{ /*Cuando pasa el cursor por encima de Registrarse*/
    text-decoration: underline;
}

/*MEDIA QUERY*/

@media (max-width:1300px) {
    
    .html{
        font-size: 90%;    
    }

    .container .content{
        padding-left: 80px;
    }
}

@media (max-width:1000px){
    
    .container .content{
        padding-left: 60px;
    }
}


@media (max-width:450px) and (min-width: 250px){ 
    
    .html{
        font-size: 50%;    
    }

}
