*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    font-family: "Monserrat";
    transition: .2s liner;
    color: #2C2C2C;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
header{
    background-color: #F7F7F7;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 999; /*Fuerza a que se coloque en una capa diferente*/
    box-shadow: 0.5rem 0.2rem rgba(0, 0, 0, .1);
}

header .banner{
    text-align: center;
    background-color: #c0a0ff;
    color: #2C2C2C;
    font-size: 1.5rem;
    font-weight: 550;
    font-family: "Cormorant Garamond";
    padding: 0.3rem;
}

header .banner:hover{
    background-color: #A7C7E7;
    cursor: pointer;
}

header .header-up{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1rem;
    justify-content: space-evenly;
    padding: 1rem;
}

header .header-up .logo{
    margin-right: auto;
}

header .header-up img{
    height: 35px; width: 35px;
}

header .header-up .icons{
    margin-left: auto;
}

header .header-up .icons a{
    margin-left: 1.5 rem;
}

header .header-up .icons a:hover, .icons a:active{
    border-bottom: 0.5rem solid #C6B5E9;
}

header .header-up input{
    border-top: .1rem solid #2C2C2C;
    border-bottom: .1rem solid #2C2C2C;
    border-left: .1rem solid #2C2C2C;
    background-color: #F7F7F7;
    font-family: inherit;
    width: 25rem; 
    height: 2rem;
    font-size: 15px;
}

header .navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

header .navbar a{
    color: #6B5A73;
    border: 0.2rem solid #A7C7E7;
    background-color: #A7C7E7;
    padding: 0 2em;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-left: 1rem;
}

header .navbar a:hover{
    background-color: #C6B5E9;
    border: solid #6B5A73 0.2rem;
    color: #F2E6D8;
}

body{
    min-height: 100vh;
    background-color: #F7F7F7;
}

.info-Morfeo {
    margin: 10rem auto 5rem auto;
    padding: 3rem 5%;
    font-size: 1.5rem;
    line-height: 2rem;
    /*Los bloques se apilan*/
}

/*SECCION DE ICONO DE WHATSAPP*/
.whatsapp-flotante {
    position: fixed; 
    bottom: 20px;
    right: 20px;
    z-index: 1000; 
    
    /*Para que se vea como un círculo el contenedor*/
    width: 60px; 
    height: 60px;
    padding: 0;
    
    border-radius: 50%; /*Para que sea un círculo perfecto*/
    
    /*Centra el ícono dentro del botón*/
    display: flex; 
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    background-color: #F7F7F7;
}

.whatsapp-bubble {
    width: 42px; 
    height: 44px;
}

.whatsapp-flotante:hover {
    background-color: #c0a0ff;
    transform: scale(1.1); 
}

/*SECCION DE BIEVENIDA*/
.intro {
    padding: 3rem 0;
    overflow: hidden; 
}

.intro .imagen {
    float: left; 
    margin-right: 40px;
    margin-bottom: 20px;
    width: 50%;
    max-width: 700px;
}

.intro .imagen img {
    display: block;
    width: 100%;
    height: auto;
}

.intro h1 {
    font-size: 5rem;
    font-family: "Cormorant Garamond";
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 1.5rem;
}

.intro p {
    font-size: 2rem;
    line-height: 1.8;
    margin-bottom: 15px;
}

/*SECCION DE DESCRIPCIÓN*/

.desc {
    margin: 30px 0;
    padding: 2rem;
    text-align: center;
}

.desc h1 {
    font-style: italic;
    font-size: 3.6rem; 
    color: #6B5A73;
    font-family: "Cormorant Garamond";
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.desc p {
    font-size: 2rem;
    line-height: 1.8;
    max-width: 1000px;
    margin: 0 auto;
}

/*SECCION DE LA SUCURSAL*/

.sucursal {
    margin: 50px 0;
    padding: 3rem 0;
    overflow: hidden; 
}


.sucursal .imagen {
    float: right; 
    margin-left: 40px;
    margin-bottom: 20px;
    width: 50%;
    max-width: 600px;
}

.sucursal .imagen img {
    display: block;
    width: 100%;
    height: auto;
}

.sucursal h1 {
    font-size: 4rem;
    font-family: "Cormorant Garamond";
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 1.5rem;
}

.sucursal p {
    font-size: 2rem;
    line-height: 1.8;
    margin-bottom: 15px;
}

.fechas {
    clear: both;
}

.fechas .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    padding: 5rem;
    margin: 2rem auto;
}

.fechas .box-container h1{
    font-size: 6rem;
    font-weight: bold;
    color: #6B5A73;
    padding: 1.5rem;
}

.fechas .box-container .primera,
.segunda{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 0 0 320px; 
    gap: 15px;
    align-items: center;
    text-align: center;
}

.fechas .box-container .primera p,
.segunda p{
    font-size: 1.8rem;
    line-height: 1.5;
}

.fechas .box-container .primera h2,
.segunda h2{
    font-weight: 700;
    padding: 1.5rem;
}

/*FOOTER*/

footer{
    background-color: #A7C7E7;
}

footer .menu-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 50rem;
    /*gap: 3rem;*/
    padding: 3rem;
    justify-items: center;
    font-size: 1.5rem;
}

footer .title-footer{
    font-weight: 600;
    font-size: 1.7rem;
    text-transform: uppercase;
}

footer .newsletter, 
.info, 
.otra-info, 
.contacto-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer .info ul li, 
.otra-info ul li{
    list-style: none;
    font-weight: 300;
}

footer .info ul li a:hover, 
.otra-info ul li a:hover{
    color: #F2E6D8;
    text-decoration: underline;
}

footer .suscripcion .newsletter{
    padding-top: 1.5rem;
}

footer .suscripcion .box{
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #2C2C2C;
}

footer .btn{
    background-color: rgba(0, 0, 0, 0);
    border: .1rem solid #2C2C2C;
    margin-left: 1rem;
    padding: 0.5rem;;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    text-align: center;
    cursor: pointer;
    font-size: 1.7rem;
}

footer .btn:hover{
    background-color: #C6B5E9;
    color: #F2E6D8;
    border: .1rem solid #6B5A73;
}

footer .iconos-footer{
    justify-content: space-between;
}

footer .logoyredes{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 1.5rem;
    padding-left: 3rem;
}

footer .iconos-footer .logoyredes .redes{
    padding-left: 6rem;
}

footer .iconos-footer .logoyredes .redes img{
    height: 20px; width: 20px;
}

footer .iconos-footer .logoyredes .redes img:hover{
    cursor: pointer;
}

footer .copyright{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right: 3rem;
    font-size: 1.4rem;
    font-style: italic;
    color: #6B5A73;
}

/*MEDIA QUERY*/

@media (max-width:1670px){

    .intro .imagen img {
        width: 100%;
        height: auto;
    }

    .intro{
        line-height: 1;
    }

    .intro h1,
    .intro p {
        max-width: 100%; 
    }

    .intro h1{
        font-size: 4rem; 
    }

    .desc{
        line-height: 1;
    }

    .sucursal{
        line-height: 1;
    }
}

@media (max-width:1400px){
    
    footer .menu-footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr) 30rem;
        gap: 3rem;
    }
    
    footer .suscripcion input{
        margin: 0.5rem;
    }

}

@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2%;
    }

    header .header-up form button{
        height: 2rem; width: auto;
    }

    section{
        padding: 1rem;
    }

    footer .suscripcion input{
        margin: 0.5rem;
    }
}

@media (max-width:768px) {
    
    header{
        padding: 1rem;
    }

}

@media (max-width: 680px) and (min-width: 451px) {
    
    html{
        font-size: 50%;
    }

    header{
        padding: 0.8rem;
    }

    footer .menu-footer{
        grid-template-columns: 1fr;
        justify-items: left;
    }
}

@media (max-width:450px) and (min-width: 250px){

    header .header-up{
        grid-template-columns: auto 1fr auto;
        gap: 0.5rem;
    }

    header .header-up input{
        width: 100%;
        max-width: 200px;
    }

    header .navbar ul{
        flex-wrap: wrap;
        padding: 0 10px;
    }

    header .navbar a{
        padding: 0.5rem 1rem;
        font-size: 16px;
    }

    footer .menu-footer{
        grid-template-columns: 1fr;
        justify-items: left;
    }
}