.container{
    padding-top: 10rem;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.container .logreg-box{
    width: 400px;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    position: relative;
    height: 400px;
}

.logreg-box .form-box{ /*Contenido de la parte de ingresar y registrarse*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: #C6B5E9;
    transition: opacity 0.4s ease, z-index 0.4s ease;
}

/*Javascript*/
/*El formulario de registro es invisible*/
.logreg-box .form-box.register { 
    opacity: 0;
    pointer-events: none; /*No se puede interactuar*/
    z-index: 1; /*Abajo*/
}

/*El formulario de login es visible*/
.logreg-box .form-box.login {
    opacity: 1;
    pointer-events: auto; /*Se puede interactuar*/
    z-index: 2; /*Arriba*/
}


/*TRANSICIÓN DE REGISTRARSE*/

/*Cuando la caja tiene la clase 'active', el login desaparece*/
.logreg-box.active .form-box.login {
    opacity: 0;
    pointer-events: none; /*Inactivo*/
    z-index: 1; /*Abajo*/
}

/*Cuando la caja tiene la clase 'active', el registro aparece*/
.logreg-box.active .form-box.register {
    opacity: 1;
    pointer-events: auto; /*Activo*/
    z-index: 2; /*Arriba*/
}

/**/

.form-box h2{ /*Título*/
    font-size: 32px;
    text-align: center;
}

.form-box .input-box{ /*Contenedores de opciones*/
    width: 300px;
    height: 50px;
    border-bottom: 2px solid white; /*La linea blanca debajo de las opciones*/
    margin: 30px 0;
}

.input-box input{ /*Zona para escribir y texto dentro*/
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #2C2C2C;
    font-weight: 500;
    z-index: 5; 
    position: relative;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease; /*Transcision smooth entre titulo y barra para escribir*/
}

.input-box input:focus~label, 
.input-box input:valid~label{ /*Para que deje espacio para escribir debajo del título de la opción*/
    top: -5px;
}

.form-box .remember-forgot{
    font-size: 15px;
    font-weight: 500;
    margin: -15px 0 15px; /*Para que se acerce más a la linea blanca*/
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #2C2C2C;
    margin-right: 3px;
}

.remember-forgot a{ /*Contraseña olvidada*/
    color: #2C2C2C;
    font-weight: 600;
    text-decoration: none;
}

.remember-forgot a:hover{ /*Contraseña olvidada*/
    text-decoration: underline;
}

.btn-cuenta{ /*Botón de Ingresar*/
    width: 100%;
    height: 35px;
    background-color: #2C2C2C;
    color: white;
    border: 0.1rem solid grey;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.btn-cuenta:hover{
    background-color: #A7C7E7;
    border: 0.2rem solid #6B5A73;

}

.form-box .login-register{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.login-register p a{ /*Registrarse*/
    color: #2C2C2C;
    font-weight: 600;
    text-decoration: none;
}

.login-register p a:hover{ /*Cuando pasa el cursor por encima de Registrarse*/
    text-decoration: underline;
}

/*MEDIA QUERY*/

@media (max-width:991px) {

        section{
        padding: 1rem;
    }

    .home{
        background-position: auto;
    }

}

@media (max-width:768px) {
    
    .home{
        min-height: 90vh;
    }

    .home .content{
        padding: 1.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin: 0.5 auto;
    }

    .home .content img{
        height: auto; width: auto;
    }

    .home .content span{
        padding: 0.5rem 0;
    }
}

@media (max-width: 680px) and (min-width: 451px) {
    
    .home{
        min-height: 85vh;
    }

    .home .content{
        padding: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: 0 auto;
    }

    .home .content img{
        height: auto; width: 400px;
    }

    .home .content span{
        padding: 0.5rem 0;
        font-size: 22px;
    }

}

@media (max-width:450px) and (min-width: 250px){

    .home{
        min-height: 80vh;
    }

    .home .content{
        padding: 1rem;
        width: 90%;
        margin: 0 auto;
    }

    .home .content img{
        height: auto; width: 250px;
    }

    .home .content span{
        padding: 0.5rem 0;
        font-size: 18px;
    }
}
