/*HERO DE CATEGORIA*/

.hero-product{
    background: url(images/Hero/HeroPromociones.png) no-repeat center center/cover; 
    display: flex;
    align-items: center;
    padding-left: 5%;
    min-height: 100vh;
}

.hero-product h1{
    font-size: 10rem;
    font-family: "Cormorant Garamond";
    color: var(--texto);
    padding: 10px 20px;
    background: var(--bg-hero);
}

/*PROMOCIONES*/

.seccion-principal {
    padding: 60px 5%;
}

.seccion-principal h2 {
    color: var(--texto);
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

#lista-promociones {
    text-align: center;
    margin-bottom: 50px;
}

#lista-promociones ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#lista-promociones li {
    background-color: var(--bg-banner);
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.8rem;
    box-shadow: 0 2px 5px var(--shadow);
    border: 2px solid var(--borde);
}

/*CALCULADORA*/

#formulario-productos {
    max-width: 1400px;
    margin: 40px auto;
    padding: 40px;
    background-color: var(--bg-card);
    border-radius: 12px;
    box-shadow: 0 0 15px var(--shadow);
    font-size: 1.8rem;
}

#formulario-productos h3 {
    color: var(--texto);
    margin-bottom: 25px;
    font-size: 2rem;
    border-bottom: 1px solid var(--borde-card);
    padding-bottom: 10px;
}

/*TABLA*/
.producto-fila { 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--borde-card);
}

.producto-fila label {
    font-weight: 600;
    flex-shrink: 0;
}

/*SELECTOR E INPUT*/

.producto-fila select{
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 8px;
    flex-grow: 1;
    border: 1px solid var(--borde-btn);
}

.producto-fila input.input-cantidad {
    padding: 10px; 
    font-size: 1.5rem; 
    border-radius: 8px;
    border: 1px solid var(--borde-btn);
    width: 8rem;
    text-align: center;
    flex-shrink: 0;
}

.producto-fila:last-of-type {
    border-bottom: none;
}

.select-producto option{
    font-size: 1.5rem;
}


/*IMAGEN DEL PRODUCTO*/
.img-preview {
    width: 20%;
    height: auto;
    object-fit: cover; /*Para que la imagen no se deforme*/
    border-radius: 4px;
    border: 2px solid var(--lila);
    margin-right: 15px;
    background-color: var(--bg-body);
}

.producto-fila {
    align-items: center;
}

/*BOTÓN DE AGREGAR OTRO PRODUCTO*/

#formulario-productos button{
    background-color: var(--nav-btn);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: .4s;
    font-size: 1.6rem;
}

#formulario-productos button:hover{
    background-color: var(--lila);
    border: 1px solid var(--borde-btn);
    transform: scale(1.1);
    transition: .4s;
}

/*BOTÓN DE ELIMINAR*/
.btn-eliminar {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-btn);
    border: 1px solid var(--borde-btn);
    margin-top: 2.8rem; /*Para que este alineado con el de cantidad*/
    width: 5rem;
    height: auto;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.5rem;
    transition: .4s;
}

.btn-eliminar:hover {
    background-color: var(--lila);
    transform: scale(1.1);
    transition: .4s; /*Movimiento smooth para cuando está el cursor encima*/
}

/*SECCIÓN RESUMEN DE COMPRA*/
#resultados-calculo {
    max-width: 110rem;
    margin: 10px auto;
    padding: 25px;
    background-color: var(--bg-card);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow);
    color: var(--texto-principal);
}

#resultados-calculo h3 {
    font-size: 2rem;
    border-bottom: 1px solid var(--borde);
    padding-bottom: 0.6rem;
    margin-bottom: 2rem;
}

#resultados-calculo p {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    margin-bottom: 8px;
}

.total-final { 
    font-size: 2rem; 
    font-weight: bold; 
    color: var(--texto);
    padding-top: 1.2rem;
    border-top: 1px solid var(--shadow);
}

.total-final span {
    font-size: 2rem;
}

/*MEDIA QUERY*/

@media (max-width:1300px) {
    html{
        font-size: 60%;
    }

    .hero-product{
        background-position: auto;
    }

    .catalogo .box-container .box .img img{
        width: 300px; height: auto;
        cursor: pointer;
        border: 1px solid #2C2C2C;
    }

    .catalogo .box-container .box .content{
        width: 300px; height: 80px;
    }

}

@media (max-width:991px) {
    html{
        font-size: 55%;
    }
}

@media (max-width:768px) {
    
    .hero-product .content{
        padding: 1.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .hero-product .content img{
        width: auto;
    }

    .hero-product .content h1{
        padding: 0.5rem 0;
    }

    .catalogo .box-container .box .img img{
        width: 300px; height: auto;
        cursor: pointer;
        border: 1px solid #2C2C2C;
    }

    .catalogo .box-container .box .content{
        width: 300px; height: 80px;
    }
}

@media (max-width: 680px) and (min-width: 451px) {

    .hero-product .content{
        padding: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .hero-product .content h1{
        padding: 0.5rem 0;
    }
}

@media (max-width:450px) and (min-width: 250px){

    .hero-product .content{
        padding: 1rem;
    }

    .hero-product .content h1{
        padding: 0.5rem 0;
        font-size: 50px;
    }

}